<table class="ui green selectable table">
  <thead>
    <tr>
      <th>Tasks</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |task|}}
      <tr>
        <td>{{task.title}}</td>
        <td class="right aligned collapsing">{{task.users.length}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
